@model Org.Ktu.Isk.P175B602.Autonuoma.Models.PacientasF2.PacientasCE

@* this will also be used as page title in main layout *@
@{ ViewData["title"] = "Paciento redagavimas (F2)"; }

@* content header *@
<div class="main-content-header">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a 
			href="@Url.Action("Index")" 
			class="btn btn-outline-primary btn-sm"
		>
			<i class="fa-solid fa-angles-left"></i> Atgal į sarašą
		</a>
	</span>
</div>

@* content itself *@
<div class="main-content-ced">
@using( Html.BeginForm(FormMethod.Post, new { @class="entity-ce" }) )
{
	@Html.AntiForgeryToken()

	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	@* add hidden form fields for non-visible properties, otherwise they will get lost in code that handles button presses *@
	@Html.HiddenFor(m => m.Pacientai.Asmens_Kod)

	<fieldset>
		<legend class="text-center">Pacientas</legend>

		<div class="form-group">
			@Html.LabelFor(m => m.Pacientai.Vardas)
			@Html.TextBoxFor(m => m.Pacientai.Vardas)
			@Html.ValidationMessageFor(m => m.Pacientai.Vardas, "")
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Pacientai.Pavarde)
			@Html.TextBoxFor(m => m.Pacientai.Pavarde)
			@Html.ValidationMessageFor(m => m.Pacientai.Pavarde, "")
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Pacientai.Gimimo_Data)
			@Html.TextBoxFor(m => m.Pacientai.Gimimo_Data, "{0:yyyy-MM-dd}", new { @class = "form-control date-picker"})
			@Html.ValidationMessageFor(m => m.Pacientai.Gimimo_Data, "")
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Pacientai.Diabetikas)
			@Html.CheckBoxFor(m => m.Pacientai.Diabetikas)
			@Html.ValidationMessageFor(m => m.Pacientai.Diabetikas, "")
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Pacientai.Adresas)
			@Html.TextBoxFor(m => m.Pacientai.Adresas)
			@Html.ValidationMessageFor(m => m.Pacientai.Adresas, "")
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Pacientai.Telefonas)
			@Html.TextBoxFor(m => m.Pacientai.Telefonas)
			@Html.ValidationMessageFor(m => m.Pacientai.Telefonas, "")
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Pacientai.Asmens_Kod)
			@Html.TextBoxFor(m => m.Pacientai.Asmens_Kod)
			@Html.ValidationMessageFor(m => m.Pacientai.Asmens_Kod, "")
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Pacientai.El_Pastas)
			@Html.TextBoxFor(m => m.Pacientai.El_Pastas)
			@Html.ValidationMessageFor(m => m.Pacientai.El_Pastas, "")
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Pacientai.fk_Seseleid_Sesele)
			@Html.DropDownListFor(m => m.Pacientai.fk_Seseleid_Sesele, Model.Lists.Seseles, (string)ViewData["none-chosen"])
			@Html.ValidationMessageFor(m => m.Pacientai.fk_Seseleid_Sesele, "")
		</div>
	</fieldset>

	<fieldset>
		<div class="container-fluid d-flex d-row justify-content-between align-items-center">
			<span></span>
			<legend style="width: unset; margin-bottom: 0px;">Priskirti Daktarai</legend>
			<button
				name="add"
				value="1"
				formnovalidate @*ASP.NET Core magic attribute to prevent client side validation when submit button is clicked*@
				formaction="@Url.Action()#listEnd"
				class="btn btn-info"
			><i class="fa-solid fa-plus"></i> Pridėti</button>
		</div>

		<table>
			<thead>
				<tr>
					<th>Daktaras</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@for( var i = 0; i < Model.PriskirtiDaktarai.Count; i++ ) {
				<tr>
					<td class="form-group">
						@* add hidden form fields for non-visible properties, otherwise they will get lost in code that handles button presses *@
						@Html.HiddenFor(m => m.PriskirtiDaktarai[i].InListId)

						@Html.DropDownListFor(
							m => m.PriskirtiDaktarai[i].Daktaras,
							Model.Lists.Daktarai,
							(string)ViewData["none-chosen"]
						)
						@Html.ValidationMessageFor(m => m.PriskirtiDaktarai[i].Daktaras, "")
					</td>
					<td>
						<button
							name="remove"
							value="@Model.PriskirtiDaktarai[i].InListId"
							formnovalidate @*ASP.NET Core magic attribute to prevent client side validation when submit button is clicked*@
							formaction="@Url.Action()#listEnd"
							class="btn btn-danger"							
						><i class="fa-solid fa-trash"></i> Šalinti</button>
					</td>
				</tr>
				}
			</tbody>
		</table>

		@* this is used as a marker to automatically scroll down to the end of items list when returning from button presses *@
		<span id="listEnd"></span>
	</fieldset>

	<div class="container-fluid d-flex d-row justify-content-end">
		<button name="save" value="1" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Išsaugoti</button>
	</div>
}
</div>

@* content footer *@
<div class="main-content-footer">
	<span class="title"></span>
	<span class="actions">
		<a 
			href="@Url.Action("Index")" 
			class="btn btn-outline-primary btn-sm"
		>
			<i class="fa-solid fa-angles-left"></i> Atgal į sarašą
		</a>
	</span>
</div>